agentocr
beautifulsoup4
boto3
botocore
chromedriver_binary
click
django_recaptcha
dlib
dnspython
emoji
exifread
ffmpeg
ffpyplayer
Flask
flask_sqlalchemy
geopy
googletrans
gtts
img2pdf
keras
lxml
matplotlib
nltk
numpy
pandas
pil
Pillow
psutil
pyautogui
pycryptodome
pycryptodomex
PyDictionary
pygame
pymysql
pynotifier
PyPDF2
pytest
python-telegram-bot
pyttsx3
pywhatkit
qrcode
Requests
rich
scikit_learn
selenium
sumeval
sumy
tensorflow
textblob
timedinput
tqdm
tweepy
webdriver_manager
wechaty
wechaty_puppet
wikipedia
wordcloud
xmltodict
